@using Clockwork.Web.Models
@model IEnumerable<TimeLogDTO>


<table class="table table-responsive-sm table-striped mb-2 mt-2 border-bottom b-thin clickable-rows">
    <thead>
        <tr>
            <th class="min-width">IP</th>
            <th>Time</th>
            <th>UTC Time</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var log in Model)
            {
                <tr>
                    <td class="min-width">
                        @log.ClientIP
                    </td>
                    <td>@log.Time</td>
                    <td>@log.UTCTime</td>
                    <td>@log.Timezone</td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="5">No time log data</td>
            </tr>
        }
    </tbody>
</table>