<div class="modal fade" id="timeLogDialog" role="dialog">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Time Log</h4>
            </div>
            <div class="modal-body">
                <p><b>Time: </b> <span id="modalTime"></span></p>
                <p><b>UTC Time: </b> <span id="modalUtcTime"></span></p>
                <p id="modalTimezoneContainer"><b>Timezone: </b> <span id="modalTimezone"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
